/* DESKTOP */

section.produtos-lançamento,
section.produtos-destaque {
    margin-top: 40px;
}

section.produtos-destaque {
    margin-top: 20px;
}

h2#produto-destaque {
    text-align: center;
}

section.styled-bannerWrapper {
    margin-top: 20px;
    height: 403px;
}

section.styled-bannerWrapper-mobile {
    display: none;
}

img.d-block {
    height: 403px;
    width: 100%;
}

.formPesquisa {
    position: absolute;
    float: left;
    left: 400px;
}

#produto-destaque {
    font-size: 22px;
    border-bottom: 1px solid #eee;
    color: #000;
    display: block;
    font-family: 'universalis_adf_std_bold';
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

ul#produtos-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul#produtos-list li {
    height: 467px;
    width: 260px;
    background-color: #ffffff;
    padding: 15px 15px 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    float: left;
    list-style-type: none;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 0px;
}

ul#produtos-list li img {
    width: 267px;
    height: 234px;
}

ul#produtos-list li div.produto-info {
    font-family: 'universalis_adf_std_bold';
    display: block;
    margin-left: 20px !important;
    cursor: pointer;
    font-size: 14px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}

ul#produtos-list li div.produto-preço {
    font-family: 'universalis_adf_std_bold';
    display: block;
    margin-left: 10px !important;
    cursor: pointer;
    font-size: 20px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul#produtos-list li div.produto-comprar {
    margin-top: 30px;
    text-align: center;
}

ul#produtos-list li div.produto-comprar a {
    padding: 20px;
    color: #fff;
    font-family: 'universalis_adf_std_bold';
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background: #52c748;
    text-decoration: none;
}

ul#produtos-list li div.produto-comprar a:hover {
    background: #0e6606;
    transition: 0.7s;
}