    /* MOBILE */
    
    @media only screen and (max-width: 940px) {
        div.link-cart {
            display: none;
        }
        nav {
            height: 0px;
            background-color: white !important;
        }
        .contato ul li {
            color: white;
            display: inline-block;
            margin-right: 30px;
            font-size: 10px;
        }
        section.styled-bannerWrapper {
            display: none;
        }
        section.styled-bannerWrapper-mobile {
            display: block;
            margin-top: 100px;
            height: 403px;
        }
        .fa-search {
            color: lightgray;
            font-size: 25px;
            margin-top: 0px;
        }
        .formPesquisa {
            position: none;
            left: 0px;
        }
        header form input[type="search"] {
            width: 340px !important;
            margin-left: 14px;
            height: 50px;
        }
        footer h2 {
            color: white;
            margin-left: 0px;
            text-align: center;
            margin-top: 20px !important;
        }
        #login {
            position: absolute;
            top: 70px;
            right: -10px;
            cursor: pointer;
            font-family: 'universalis_adf_std_bold';
        }
        .label-carrinho {
            display: none;
        }
        div.link-cart-mobile {
            display: block;
            background: #eee;
            padding: 10px 20px 10px 45px;
        }
    }